DATABASE_URL=""
AUTH_SECRET=
NEXTAUTH_URL=
PAYSTACK_SECRET_KEY=
NEXT_PUBLIC_PAYSTACK_PUBLIC_KEY=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
ADMIN_EMAIL=
ENABLE_DEMO_DELIVERY=false
DEMO_DELIVERY_DELAY_MS=10000
